<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Reto</title>
    <link href="~/Content/fonts/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/toastr/toastr.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body class="background-body">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3><a href="~/"><img src="~/content/img/logo.png" /></a></h3>
                </div>
                <div class="col-sm-6 text-right">
                    <h3 class="text-info">
                        <a href="~/">Mente Brillante</a>
                    </h3>
                    <p>
                        <i class="fa fa-user"></i> @SessionHelper.Usuario.Nombre
                        <span style="margin:0 10px">|</span>
                        <a href="~/Account/Login"><small>Cerrar sesión</small></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    @if (SessionHelper.IsInRole("Alumno"))
    {
        <br />
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        @for (int i = 0; i < 5; i++)
                        {
                            <i class="medalla fa fa-star fa-2x fa-fw"></i>    
                        }                        
                    </div>
                </div>
            </div>
        </div>
    }
    <br />
    <div class="container body-content">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a class="list-group-item active">Juegos</a>
                    <a href="~/reto" class="list-group-item">Responder preguntas</a>
                    <a href="~/reto/lista" class="list-group-item">Consultar juegos</a>
                </div>
                <div class="list-group">
                    <a class="list-group-item active">Notas</a>
                    <a href="~/notas/registro" class="list-group-item">Registrar notas</a>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">Consultar estadísticas</a>
                    <a href="#" class="list-group-item">Consultar situación académica</a>
                    <a href="#" class="list-group-item">Obtener información alumno</a>
                    <a href="#" class="list-group-item">Actualizar registro de materiales</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @RenderBody()
                    </div>
                </div>

                <br /><br />
            </div>
        </div>
    </div>
    <div class="loading">
        <div class="loading-content">
            <div><i class="fa fa-spinner fa-spin fa-3x"></i></div>
            <div class="loading-text">Procesando</div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr/toastr.min.js"></script>
    <script type="text/javascript">toastr.options = { "progressBar": false, "positionClass": "toast-bottom-right", "closeButton": true, "showMethod": "slideDown" }</script>
    <script type="text/javascript">
        var appMaster = {};
        appMaster.baseUrl = '@Url.Content("~")';
        appMaster.currentUrl = '@(Url.Action("Index") + "/")';
    </script>
    <script src="~/Scripts/js/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>