@{
    ViewBag.Title = "Registro de notas";
}

@section styles
{
    <link href="~/Content/css/notas.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/jquery-print.js"></script>
    <script type="text/javascript">
        //var tableToExcel = (function () {
        //    var uri = 'data:application/vnd.ms-excel;base64,'
        //      , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
        //      , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
        //      , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        //    return function (table, name) {
        //        if (!table.nodeType) table = document.getElementById(table)
        //        var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
        //        window.location.href = uri + base64(format(template, ctx))
        //    }
        //})();

        var onTeclasDireccionales = function (element) {
            $(element).on('keydown', function (e) {
                //console.log(e.keyCode);
                if ((e.keyCode >= 37 && e.keyCode <= 40) || e.keyCode == 13) {
                    var index = $(this).index();

                    switch (true) {
                        case e.keyCode == 37: $(this).prev().focus(); break;//left
                        case e.keyCode == 38: $(this).parent().prev().find('td').eq(index).focus(); break;//up
                        case e.keyCode == 39: $(this).next().focus(); break;//right
                        case e.keyCode == 40 || e.keyCode == 13: $(this).parent().next().find('td').eq(index).focus(); break;//bottom
                    }
                }
            });
        }

        ko.bindingHandlers.editableText = {
            init: function (element, valueAccessor) {
                $(element).on('focus', function () { $(this).removeClass('flag'); });
                $(element).on('blur', function () {
                    var observable = valueAccessor();
                    var value = $(this).html();
                    if (!isNaN(parseFloat(value))) {
                        if (parseInt(value) > 5) value = 5;
                        if (parseInt(value) < 3) value = 3;
                    }
                    observable(value);
                    if (value) $(element).addClass('flag');
                });

                $(element).on('keypress', function (e) {
                    //Solo puede digitar del 3 al 5
                    if (!(e.keyCode >= 51 && e.keyCode <= 53)) return false;

                    if (e.keyCode != 13) $(this).html(e.key);
                    return false;
                });

                onTeclasDireccionales(element);
            },
            update: function (element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor());
                //if (value != '' && value != null && value !== undefined) {
                //    if (value < 10 && value.toString().length < 2 && value.toString().indexOf('.') == -1) value = '0' + value;
                //}

                $(element).html(value);
            }
        };

        ko.bindingHandlers.editableNota = {
            init: function (element, valueAccessor) {
                $(element).on('blur', function () {
                    var observable = valueAccessor();
                    var value = $(this).html();
                    if (!isNaN(parseFloat(value))) {
                        if (parseInt(value) > 20) value = 20;
                        if (parseInt(value) < 0) value = 0;
                    }
                    observable(value);
                });

                $(element).on('keypress', function (e) {
                    //Solo puede digitar del 0 al 9
                    if ($(this).text().toString().length == 2 && (e.keyCode == 49 || e.keyCode == 50)) $(this).html('');
                    if (!(e.keyCode >= 48 && e.keyCode <= 57) || $(this).text().toString().length == 2) return false;
                });

                onTeclasDireccionales(element);
            },
            update: function (element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor());
                $(element).html(value);
            }
        }
    </script>
    <script type="text/javascript">
        function ViewModel() {
            var self = this;

            self.Filtro = {
                IdNivelEscolar: ko.observable(),
                Niveles: ko.observableArray([
                    { IdNivel: 1, Nivel: 'Primaria' },
                    { IdNivel: 2, Nivel: 'Secundaria' }
                ]),
                Grado: ko.observable(),
                Grados: ko.observableArray(),
                Seccion: ko.observable(),
                Secciones: ko.observableArray(),
                Bimestre: ko.observable(),
                Bimestres: ko.observableArray([1, 2, 3, 4])
            };

            //Evaluacion por trimestre
            //variables ko
            self.evaluaciones = ko.observable(2);
            self.docente = ko.observable();
            self.criterios = ko.observableArray();
            self.alumnos = ko.observableArray();

            self.ConvertOrdinal = function (number) {
                switch (number) {
                    case 1: return 'PRIMER'; break;
                    case 2: return 'SEGUNDO'; break;
                    case 3: return 'TERCER'; break;
                    case 4: return 'CUARTO'; break;
                    case 5: return 'QUINTO'; break;
                    case 6: return 'SEXTO'; break;
                    default: return number;
                }
            }

            self.EstructurarTabla = function (datos) {
                //console.log(datos);
                var alumnos = [], criterios = self.criterios(), notas = [];

                //Criterios
                //ko.utils.arrayForEach(datos, function (item) {
                //    var crit = ko.utils.arrayFirst(criterios, function (x) { return x.IdCriterio == item.IdCriterio });
                //    if (crit == null) criterios.push({ IdCriterio: item.IdCriterio, Nombre: item.Criterio });
                //});

                criterios = criterios.sort(function (a, b) {
                    if (a.IdCriterio > b.IdCriterio) return 1;
                    else if (a.IdCriterio > b.IdCriterio) return -1;
                    else return 0;
                });

                //Alumnos
                ko.utils.arrayForEach(datos, function (item) {
                    //if (item.PromedioVirtual) console.log(item);
                    var alum = ko.utils.arrayFirst(alumnos, function (x) { return x.IdAlumno == item.IdAlumno });
                    if (alum == null) {
                        var obj = {
                            IdMatricula: item.IdMatricula,
                            IdDocenteCurso: item.IdDocenteCurso,
                            IdAlumno: item.IdAlumno,
                            Nombre: item.Alumno,
                            Notas: [],
                            PromedioProceso: ko.observable(item.PromedioProceso),
                            PromedioVirtual: ko.observable(item.PromedioVirtual),
                            TestPresencial: ko.observable(item.TestPresencial),
                            PromedioSprint: ko.observable(item.PromedioSprint),
                            Bimestral: ko.observable(item.Bimestral),
                            Plataforma: ko.observable(item.Plataforma),
                            Clase: ko.observable(item.Clase),
                            PromedioActitud: ko.observable(item.PromedioActitud),
                            NotaFinal: ko.observable(item.NotaFinal)
                        };

                        for (var i = 0; i < self.evaluaciones() ; i++) {
                            var trimestre = {}, oTr = [];
                            for (var j = 0; j < criterios.length; j++) {
                                var r = ko.utils.arrayFirst(datos, function (n) {
                                    return n.IdAlumno == item.IdAlumno &&
                                           n.IdCriterio == criterios[j].IdCriterio &&
                                           n.NroEvaluacion == i + 1
                                }) || {};

                                //obj.Notas.push({ IdCriterio: criterios[j].IdCriterio, Criterio: criterios[j].Nombre, NroEvaluacion: i +1, Nota: ko.observable(r.Nota) });
                                oTr.push({ IdCriterio: criterios[j].IdCriterio, Criterio: criterios[j].Nombre, Nota: ko.observable(r.Nota) });
                            }

                            trimestre.Notas = oTr;
                            trimestre.Promedio = ko.observable(0);
                            obj.Notas.push(trimestre);
                        }

                        alumnos.push(obj);
                    }
                });

                //console.log(ko.toJS(alumnos));

                //variables ko
                //self.criterios(criterios);
                self.alumnos(alumnos);
            }

            self.Promediar = ko.computed(function () {
                var alumnos = self.alumnos();
                var sum_total = 0;

                alumnos.forEach(function (a) {
                    var evaluaciones = a.Notas;
                    sum_total = 0;

                    evaluaciones.forEach(function (e) {
                        var notas = e.Notas;
                        var suma = 0;
                        notas.forEach(function (n) {
                            if (!isNaN(parseFloat(n.Nota()))) suma += parseInt(n.Nota());
                        });

                        var prom = Math.round(suma);
                        sum_total += prom;
                        e.Promedio(prom);
                    });

                    var prom_proceso = Math.round(sum_total / evaluaciones.length);
                    a.PromedioProceso(prom_proceso);

                    var prom_sprint = Math.round((parseInt(a.PromedioVirtual() || 0) + parseInt(a.TestPresencial() || 0)) / 2);
                    a.PromedioSprint(prom_sprint);

                    var prom_actitud = Math.round((parseInt(a.Plataforma() || 0) + parseInt(a.Clase() || 0)) / 2);
                    a.PromedioActitud(prom_actitud);

                    var bimestral = parseInt(a.Bimestral() || 0);

                    var nota_final = Math.round((prom_proceso * 5 + prom_sprint * 2 + bimestral + prom_actitud * 2) / 10);
                    a.NotaFinal(nota_final);
                })
            });

            //self.DatosDocente = ko.observableArray();

            //self.Filtrar_Cursos = function () {
            //    self.alumnos.removeAll();
            //    var datos = self.DatosDocente();
            //    var distinct = [];

            //    ko.utils.arrayForEach(datos, function (x) {
            //        var obj = ko.utils.arrayFirst(distinct, function (c) { return c.IdCurso == x.IdCurso });
            //        if (obj == null) distinct.push({ IdCurso: x.IdCurso, Curso: x.Curso, NroEvaluaciones: x.NroEvaluaciones });
            //    });

            //    self.Filtro.Cursos(distinct);
            //}

            self.Filtrar_Grados = function () {
                self.alumnos.removeAll();
                //var datos = self.DatosDocente();
                var distinct = [];

                if (self.Filtro.IdNivelEscolar() == 1) {
                    distinct = [3, 4, 5, 6];
                }
                else if (self.Filtro.IdNivelEscolar() == 2) {
                    distinct = [1, 2, 3];
                }

                //ko.utils.arrayForEach(datos, function (x) {
                //    if (distinct.indexOf(x.Grado) == -1) distinct.push(x.Grado);
                //});

                self.Filtro.Grados(distinct);
            }

            self.Filtrar_Secciones = function () {
                self.alumnos.removeAll();
                //var datos = self.DatosDocente();
                var distinct = ['A', 'B', 'C', 'D', 'E', 'F'];

                //ko.utils.arrayForEach(datos, function (x) {
                //    if (x.Grado == self.Filtro.Grado()) {
                //        if (distinct.indexOf(x.Seccion) == -1) distinct.push(x.Seccion);
                //    }
                //});

                self.Filtro.Secciones(distinct);
            }

            self.init = function () {
                var IdPersona = '@SessionHelper.Usuario.IdPersona';

                $.getJSON('@Url.Action("CargarDatosInicial")')
                .done(function (result) {
                    //console.log(result);
                    //self.DatosDocente(result);
                    //self.Filtrar_Cursos();
                    self.docente(result.Docente.Docente);
                    self.criterios(result.Criterios);
                }).fail(function (xhr) { console.log(xhr); });
            }

            self.CargarRegistro = function () {
                var params = {
                    IdNivelEscolar: self.Filtro.IdNivelEscolar(),
                    Grado: self.Filtro.Grado(),
                    Seccion: self.Filtro.Seccion(),
                    Bimestre: self.Filtro.Bimestre()
                };

                $.getJSON('@Url.Action("ListarRegistro")', params)
                .done(function (result) {
                    //console.log(result);
                    self.EstructurarTabla(result);
                    if (result.length == 0) {
                        appMaster.MessageBox('Sin alumnos', 'No hay alumnos matriculados en el grado y sección seleccionados');
                    }
                }).fail(function (xhr) { console.log(xhr); });
            }

            self.VerificarNota = function (nota) {
                if (!isNaN(parseInt(nota))) {
                    switch (parseInt(nota)) {
                        case 3: return 'flag rojo'; break;
                        case 4: return 'flag amarillo'; break;
                        case 5: return 'flag verde'; break;
                    }
                }
            }

            self.LimpiarRegistro = function () {
                appMaster.Confirm({
                    Title: 'Limpiar',
                    Message: '¿Desea limpiar el registro de notas?',
                    Yes: function () {
                        self.alumnos().forEach(function (a) {
                            a.Notas.forEach(function (e) {
                                e.Notas.forEach(function (n) {
                                    n.Nota(null);
                                });
                            });
                                                        
                            a.PromedioVirtual(null);
                            a.TestPresencial(null);
                            a.Bimestral(null);
                            a.Plataforma(null);
                            a.Clase(null);                            
                        });
                    }
                });
            }

            self.Guardar = function () {
                var alumnos = ko.toJS(self.alumnos);
                //console.log(alumnos);

                appMaster.Confirm({
                    Title: 'Registro de notas',
                    Message: '¿Desea guardar los cambios en el registro de notas?',
                    Yes: function () {
                        var registro = [];
                        var Anyo = new Date().getFullYear();

                        alumnos.forEach(function (a) {
                            var evaluaciones = a.Notas;
                            evaluaciones.forEach(function (e, i) {
                                var notas = e.Notas;
                                notas.forEach(function (n) {
                                    if (n.Nota) {
                                        var obj = {
                                            IdAlumno: a.IdAlumno,
                                            IdNivelEscolar: self.Filtro.IdNivelEscolar(),
                                            Grado: self.Filtro.Grado(),
                                            Bimestre: self.Filtro.Bimestre(),
                                            Anyo: Anyo,
                                            IdCriterio: n.IdCriterio,
                                            NroEvaluacion: i + 1,
                                            Nota: n.Nota
                                        };

                                        registro.push(obj);
                                    }
                                });
                            });

                            a.IdNivelEscolar = self.Filtro.IdNivelEscolar();
                            a.Grado = self.Filtro.Grado();
                            a.Bimestre = self.Filtro.Bimestre();
                        });

                        //console.log(registro);

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GuardarNotas")',
                            data: JSON.stringify({
                                IdNivelEscolar: self.Filtro.IdNivelEscolar(),
                                Grado: self.Filtro.Grado(),
                                Seccion: self.Filtro.Seccion(),
                                Bimestre: self.Filtro.Bimestre(),
                                criterios: registro,
                                notas: alumnos
                            }),
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (result) {
                                toastr.success('Datos guardados exitosamente', 'Listo');
                            },
                            error: function (xhr) {
                                console.log(xhr);
                            }
                        });
                    }
                });
            }

            self.Imprimir = function () {
                $(".registro").printThis();                
            }

            self.Descargar = function () {
                @*$.when($.get('@Url.Content("~/content/css/notas.css")'))
                .done(function (css) {
                    appMaster.ExportToExcel('Registro de notas', $('.registro').parent().html(), css);
                });*@     
                appMaster.ExportToExcel('Registro de notas', $('.registro').parent().html());                
            }
        }

        $(function () {
            var modelo = new ViewModel();
            ko.applyBindings(modelo);
            modelo.init();
        });
    </script>
}
<h3>Registro de Notas </h3>
<div class="well well-sm">
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-3">
                    <label class="control-label">Nivel:</label>
                    <select class="form-control" data-bind="options: Filtro.Niveles, optionsText: 'Nivel', optionsValue: 'IdNivel', optionsCaption: '- Nivel -', value: Filtro.IdNivelEscolar, event: {change: Filtrar_Grados}"></select>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Grado:</label>
                    <select class="form-control" data-bind="options: Filtro.Grados, optionsText: function(g){ return g + '°'}, optionsValue: $data, optionsCaption: '- Grado -', value: Filtro.Grado, event: {change: Filtrar_Secciones}"></select>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Sección:</label>
                    <select class="form-control" data-bind="options: Filtro.Secciones, optionsCaption: '- Sección -', value: Filtro.Seccion"></select>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Bimestre:</label>
                    <select class="form-control" data-bind="options: Filtro.Bimestres, optionsText: function(b){ return ConvertOrdinal(b) + ' BIMESTRE' }, optionsValue: $data, optionsCaption: '- Bimestre -', value: Filtro.Bimestre"></select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label class="control-label">&nbsp;</label>
            <button type="button" class="btn btn-default btn-block" data-bind="click: $root.CargarRegistro, enable: Filtro.Bimestre() && Filtro.Grado() && Filtro.Seccion()">Mostrar registro</button>
        </div>
    </div>
</div>
<div data-bind="visible: alumnos().length > 0">
    <div class="well well-sm" style="padding-bottom:0">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Docente:</div>
                        <div class="form-control text-uppercase" data-bind="text: docente"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" data-bind="click: Guardar" title="Guardar registro"><i class="fa fa-save fa-lg"></i></a>
                        <a class="btn btn-default" data-bind="click: Imprimir" title="Imprimir"><i class="fa fa-print fa-lg"></i></a>
                        <a class="btn btn-default" data-bind="click: Descargar" title="Descargar"><i class="fa fa-cloud-download fa-lg"></i></a>
                        <a class="btn btn-default" data-bind="click: LimpiarRegistro" title="Limpiar"><i class="fa fa-trash-o fa-lg"></i></a>
                        <a href="~/" class="btn btn-default" title="Salir"><i class="fa fa-sign-out fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table id="notas" class="registro">
            <tbody>
                <tr>
                    <td rowspan="5"></td>
                    <td></td>
                    <td data-bind="attr:{'colspan': evaluaciones() * ($root.criterios().length + 1) + 1}"><h3>EVAL. PROCESO</h3></td>
                    <td colspan="3" rowspan="3">SPRINT</td>
                    <td class="rotar nota-final" rowspan="6"><div>BIMESTRAL</div></td>
                    <td colspan="3" rowspan="3">ACTITUD</td>
                    <td class="rotar nota-final" rowspan="6" style="vertical-align: middle; font-size: 1.5em;"><div>NOTA FINAL</div></td>
                </tr>
                <tr>
                    <td rowspan="2"><h4><span data-bind="text: ConvertOrdinal(Filtro.Bimestre())"></span> BIMESTRE</h4></td>
                </tr>
                <tr style="height:20px">
                    <!--ko foreach: new Array(evaluaciones())-->
                    <td data-bind="attr: {'colspan': $root.criterios().length + 1}"><h5 data-bind="text: 'EVALUACIÓN ' + ($index() + 1)"></h5></td>
                    <!--/ko-->
                    <td class="rotar nota-final" rowspan="4"><div>PROMEDIO PROCESO</div></td>
                </tr>
                <tr>
                    <td><h4>Colegio: Jack Goldfarb</h4></td>
                    <!--ko foreach: new Array(evaluaciones())-->
                    <!--ko foreach: $root.criterios-->
                    <td class="rotar" rowspan="3"><div data-bind="text: $data.Nombre"></div></td>
                    <!--/ko-->
                    <td class="rotar promedio" rowspan="3"><div data-bind="text: 'Nota ' + ($index() + 1)"></div></td>
                    <!--/ko-->
                    <td class="rotar" rowspan="3"><div>PROMEDIO VIRTUAL</div></td>
                    <td class="rotar" rowspan="3"><div>TEST PRESENCIAL</div></td>
                    <td class="rotar nota-final" rowspan="3"><div>PROMEDIO SPRINT</div></td>
                    <td class="rotar" rowspan="3"><div>PLATAFORMA</div></td>
                    <td class="rotar" rowspan="3"><div>CLASE</div></td>
                    <td class="rotar nota-final" rowspan="3"><div>PROMEDIO ACTITUD</div></td>
                </tr>
                <tr style="height:30px;">
                    <td><h4><span data-bind="text: $root.ConvertOrdinal($root.Filtro.Grado())"></span> GRADO</h4></td>
                </tr>
                <tr style="height:30px;">
                    <td style="width:30px;"><h4>N°</h4></td>
                    <td style="width:250px;"><h4>ALUMNO</h4></td>
                </tr>
                <tr>
                    <td></td>
                    <td>OBSERVACIONES</td>
                    <!--ko foreach: new Array(evaluaciones())-->
                    <!--ko foreach: $root.criterios-->
                    <td></td>
                    <!--/ko-->
                    <td class="promedio"></td>
                    <!--/ko-->
                    <td class="nota-final"></td>
                    <!--Sprint-->
                    <td></td>
                    <td></td>
                    <td class="nota-final"></td>
                    <!--Bimestral-->
                    <td class="nota-final"></td>
                    <!--Actitud-->
                    <td></td>
                    <td></td>
                    <td class="nota-final"></td>
                    <!--Nota Final-->
                    <td class="nota-final"></td>
                </tr>
                <!--ko foreach: alumnos-->
                <tr>
                    <td data-bind="text: $index() + 1">1</td>
                    <td class="alumno" data-bind="text: $data.Nombre"></td>
                    <!--ko foreach: $data.Notas-->
                    <!--ko foreach: $data.Notas-->
                    <td class="nota" contenteditable="true" data-bind="editableText: $data.Nota, css: $root.VerificarNota($data.Nota())"></td>
                    <!--/ko-->
                    <td class="promedio" data-bind="editableText: $data.Promedio, css: $root.VerificarNota($data.Promedio())"></td>
                    <!--/ko-->
                    <td class="nota-final" data-bind="editableNota: $data.PromedioProceso, css: $root.VerificarNota($data.PromedioProceso())"></td>
                    <td contenteditable="true" data-bind="editableNota: $data.PromedioVirtual"></td>
                    <td contenteditable="true" data-bind="editableNota: $data.TestPresencial"></td>
                    <td class="nota-final" data-bind="editableNota: $data.PromedioSprint"></td>
                    <td contenteditable="true" class="nota-final" data-bind="editableNota: $data.Bimestral"></td>
                    <td contenteditable="true" data-bind="editableNota: $data.Plataforma"></td>
                    <td contenteditable="true" data-bind="editableNota: $data.Clase"></td>
                    <td class="nota-final" data-bind="editableNota: $data.PromedioActitud"></td>
                    <td class="nota-final" data-bind="editableNota: $data.NotaFinal"></td>
                </tr>
                <!--/ko-->
            </tbody>
        </table>
    </div>
</div>